[Unit]
Description=Activate Apple iBridge (T1) Touch Bar
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/mbp-t1-touchbar/bind-touchbar.sh
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
